*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    font-family: Arial;
    background: #080024;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    width: 100%;
    margin-top: 35px;
    flex-direction: column;
    align-items: center;
}
.container h1 {
    text-align: center;
    font-weight: 600;
    color: #bf861c;
    font-size: 50px;
}
.content {
    display: flex;
    width: 700px;
    padding: 50px;
    margin-top: 25px;
    align-items: center; 
}
.content p{
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    color: #b6c9d9;
}